@import '../../../../styles.scss';

.section    {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 0px 0px;
}

div {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

h1  {
    color: $xy;
    font-family: $ms;
    font-size: 64px;
    font-weight: 700;
}

p   {
    align-self: center;
    color: $xy;
    font-family: $rw;
    font-size: 24px;
    font-weight: 500;
    width: 50%;
}

a   {
    border: 2px solid $xy;
    border-radius: 25px;
    display: flex;
    font-weight: bold;
    justify-self: center;
    margin: 40px auto;
    padding: 8px 20px 8px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 145px;

    transition: 0.3s;
    &:hover {
        border-color: $ly;
        color: $ly;
    }
}

@media  (max-width: 1366px) {
    h1  {
        font-size: 64px;
    }
}

@media  (max-width: 1199px)  {
    .section    {
        gap: 30px;
        justify-content: center;
    }

    div {
        align-items: center;
        gap: 120px;
        justify-content: center;
    }

    h1  {
        font-size: 56px;
    }

    p   {
        width: 80%;
    }
}

@media  (max-width: 1087px) {
    h1  {
        font-size: 48px;
    }
}

@media  (max-width: 991px)  {
    h1  {
        border: none;
        font-size: 36px;
    }

    div {
        gap: 40px;
    }
}