<section>
    <div class="headings">
        <h1>Depoimentos</h1>
        <p>Pessoas que mudaram de vida com a xHealth, e mostram isso pros outros!</p>
    </div>
    <div class="contents">
        <app-first-testimonies></app-first-testimonies>
        <app-second-testimonies></app-second-testimonies>
        <app-third-testimonies></app-third-testimonies>
    </div>
    <div class="flyer">
        <h2>O próximo depoimento pode ser o seu!</h2>
        <p>Não perca a chance de entrar para essa família e aproveitar o melhor dela!</p>
        <a routerLink="/contact"> Vamos lá! </a>
    </div>
</section>
