<section>
    <h1>Instrutores <strong>profissionais</strong> e com <strong>garra</strong></h1>
    <p>
        Pessoas que entendem de esporte e <strong>determinação</strong>, e que vão te ensinar o
        melhor jeito de <strong>evoluir</strong>!
    </p>
    <app-coaches-list></app-coaches-list>
    <h2>e muitos outros!</h2>
    <h1 class="sign">
        Faça a sua matricula e <strong>aprenda</strong> com os <strong>mestres</strong> do esporte!
    </h1>
    <button routerLink="/contact">Quero fazer parte!</button>
</section>
