@import '../../../../../styles.scss';

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0px;
}

@media (max-width: 1128px) {
    section {
        gap: 100px;
        justify-content: center;
    }
}
