@import '../../../../styles.scss';

.navigation {
    background-color: $dg;
    border-radius: 35px;
    filter: drop-shadow(0px 1px rgba(0, 0, 0, 0.824));
    height: 60px;
    padding: 0px 50px;
    width: 100%;
    z-index: 100;
}

.navbar-brand   {
    align-items: center;
    display: flex;
    flex-direction: row;
    transition: 0.3s;

    &:hover {
        filter: brightness(140%);
    }

}

.navbar-nav {
    gap: 16%;
}

.navImage   {
    width: 78px;
}

.nav-link   {
    color: $ly;
    font-family: $qs;
    font-size: 18px;
    font-weight: 700;

    transition: 0.3s;
    &:hover {
        color: $xy;
    }
}

.loginButton    {
    border: 2px solid $xy;
    border-radius: 20px;
    color: $xy;
    display: grid;
    font-family: $qs;
    font-size: 16px;
    margin-top: 4px;
    padding: 4px 0px;
    place-content: center;
    text-decoration: none;
    transition: 0.3s;
    width: 90px;

    &:hover {
        border-color: $ly;
        color: $ly;
    }

    p   {
        margin: 0;
    }
}

#loginButton    {
    margin-left: 15px;
}

.userData   {
    align-items: center;
    display: flex;
    gap: 2px;
    justify-content: center;
    text-decoration: none;
    transition: 0.6s;

    &:hover {
        filter: brightness(330%);
    }
}

.nameText   {
    color: $xy;
    font-family: $qs;
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
    width: 80px;
}

#nav-button {
    background-color: $xy;
}


@media  (max-width: 1366px) {
    .navbar-nav {
        gap: 13%;
    }
    
    .nav-link   {
        font-size: 16px;
    }
}

@media  (max-width: 1278px) {
    .navbar-nav {
        gap: 5%;
    }

    .nav-link   {
        font-size: 16px;
    }
}

@media  (max-width: 991px)  {
    .navImage   {
        margin: 0;
        padding: 0;
        width: 45px;
    }

    #loginButton    {
        margin: 0;
    }

    .navbar-nav {
        align-self: center;
        background-color: #060606b9;
        border-radius: 15px;
        gap: 15px;
        justify-self: center;
        padding: 10px 50px;
        width: 100%;
    }
}

@media  (min-width: 768px)  {
    .navbar-collapse    {
        padding-left: 25px;
    }
}