@import '../../../../styles.scss';

.modalsSection  {
    align-items: center;
    color: $xy;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 80px 0px;
    text-align: center;


    h1  {
        border-bottom: 7px solid $xy;
        font-family: $ms;
        font-size: 64px;
        font-weight: bold;
        padding-bottom: 12px;
        width: 95%;
    }

    p   {
        font-size: 30px;
        font-family: $qs;
    }

    a   {
        border: 2px solid $xy;
        border-radius: 25px;
        display: flex;
        font-weight: bold;
        padding: 8px 20px;
        text-decoration: none;
        text-transform: uppercase;
        width: 125px;

        transition: 0.3s;
        &:hover {
            border-color: $ly;
            color: $ly;
        }
    }
}

.modals {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.splide {
    align-items: center;
    display: none;
    padding: 20px 0px;
    width: 100%;
}

@media  (max-width: 1199px) {
    .modalsSection    {
        h1  {
            font-size: 56px;
        }
    }
}

@media  (max-width: 1087px) {
    .modalsSection    {
        h1  {
            font-size: 48px;
        }
    }
}

@media  (max-width: 991px) {
    .modalsSection    {
        h1  {
            border: none;
            font-size: 36px;
        }
    }
    
    .modals {
        display: none;
    }

    .splide {
        display: flex;
    }
}

@media  (max-width: 768px)  {
    .modalsSection   {
        align-items: center;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        justify-content: center;
    }

    .modals {
        display: none;
    }
}