@import '../styles.scss';

.main-container {
    background-color: $dark;
    padding: 18px 0px;
}

@media  (max-width: 1366px) {
    .main-container {
        padding: 18px 8%;
    }
}

@media  (max-width: 991px)  {
    .main-container {
        padding: 10px 40px;
    }
}