@import '../styles.scss';

html    {
    background-color: $dark;
}

body    {
    background-color: $dark;
}

.main-container {
    background-color: $dark;
}

main    {
    background-color: $dark;
    min-height: 120vh;
    position: relative;
}

.contact    {
    background-color: $dg;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px;
    transition: 0.3s;

    &:hover {
        background-color: $ly;
    }
}

@media  (min-width: 1367px) {
    .main-container {
        padding: 18px 5.5%;
    }
}

@media  (max-width: 1366px) {
    .main-container {
        padding: 18px 8%;
    }
}

@media  (max-width: 991px)  {
    .main-container {
        padding: 10px 20px;
    }

    .contact    {
        display: none;
    }
}