<section>
    <div class="intro">
        <h1>Evite burocracia, mande uma mensagem para nós!</h1>
        <p>Faça sua matrícula, ou tire suas dúvidas.</p>
        <div class="message">
            <a class="contactButton">
                <img src="/assets/footer/wp.svg" alt="whatsapp-logo" />
                <p>Fale conosco!</p>
            </a>
        </div>
    </div>
    <div class="faq">
        <h1>Perguntas Frequentes</h1>
        <app-faq-section></app-faq-section>
    </div>
</section>
