<section>
    <img src="/assets/index/gear.jpg" alt="" />
    <div>
        <h1>Formação de <strong>qualidade</strong></h1>
        <p class="gearDescription">
            Nossas unidades contam com os equipamentos <strong>mais avançados</strong> do mercado, e
            com instrutores vindos direto do <strong>mundo competitivo</strong>. Não perca a chance
            de ter a <strong>melhor tutela</strong> e a <strong>melhor estrutura</strong>.
        </p>
        <a routerLink="/coaches">Conheça</a>
    </div>
</section>
