@import '../../../styles.scss';

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 70px 6px;
}

h1 {
    border-bottom: 1px solid $ly;
    color: $xy;
    font-family: $ms;
    padding-bottom: 5px;
}

p {
    color: $ly;
    font-family: $qs;
}
