/*-------------------------------------------------------------------<COLORS>------------------------------------------------------------------------------------------------------------------------------------------*/
/*x-health-black*/
$dark: #050505;
/*x-health-yellow*/
$xy: #ebba34;
/*x-health-light-yellow*/
$ly: #FFF9E8;
/*x-health-dark-gray*/
$dg: #161616;

/*-------------------------------------------------------------------<FONTS>-------------------------------------------------------------------------------------------------------------------------------------------*/
/*font-family: 'Quicksand'*/
$qs: 'Quicksand';
/*font-famuly: 'Montserrat'*/
$ms: 'Montserrat';
/*font-famuly: 'Raleway'*/
$rw: 'Raleway';
/*----------------------------------------------------------<TRANSITIONS AND EFFECTSN>---------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------<STYLES FOR THE MAIN APPLICATION>-------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: $dark;
}

::-webkit-scrollbar-thumb {
    background: $xy;
    transition: 0.3s;
}
