/*-------------------------------------------------------------------<COLORS>------------------------------------------------------------------------------------------------------------------------------------------*/
/*x-health-black*/
$dark: #050505;
/*x-health-yellow*/
$xy: #ebba34;

/*-------------------------------------------------------------------<FONTS>-------------------------------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------<TRANSITIONS AND EFFECTSN>---------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------<STYLES FOR THE MAIN APPLICATION>-------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: $dark;
}

::-webkit-scrollbar-thumb {
    background: $xy;
    transition: 0.3s;
}
