/*-------------------------------------------------------------------<COLORS>------------------------------------------------------------------------------------------------------------------------------------------*/
/*x-health-black*/
$dark: #050505;
/*x-health-yellow*/
$xy: #ebba34;
/*x-health-light-yellow*/
$ly: #FFF9E8;
/*x-health-dark-gray*/
$dg: #161616;
/*x-health-light-gray*/
$lg: #343434;

/*-------------------------------------------------------------------<FONTS>-------------------------------------------------------------------------------------------------------------------------------------------*/
/*font-family: 'Quicksand'*/
$qs: 'Quicksand';
/*font-famuly: 'Montserrat'*/
$ms: 'Montserrat';
/*font-famuly: 'Raleway'*/
$rw: 'Raleway';
/*----------------------------------------------------------<TRANSITIONS AND EFFECTSN>---------------------------------------------------------------------------------------------------------------------------------*/
@keyframes fadeIn {
    0%  { opacity:  0; }
    100%  { opacity: 1; }
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------<STYLES FOR THE MAIN APPLICATION>-------------------------------------------------------------------------------------------------------------------------------*/
a   {
    color: $xy;
}

strong  {
    color: $ly;
    font-family: inherit;
    font-weight: inherit;
}

.linker {
    color: $xy;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        filter: brightness(150%);
    }
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: $dark;
}

::-webkit-scrollbar-thumb {
    background: $xy;
    transition: 0.3s;
}
